#root {
  margin: 0 auto;
  
  /* padding: 0 2rem 2rem 2rem; */
  text-align: center;
}

.App{
  background: radial-gradient(83.69% 83.69% at 54.41% 100%, rgba(189, 183, 255, 0.45) 0%, rgba(156, 148, 255, 0) 100%);
  width: 100%;
  height: 100vh;
}
.gradient-h1{
  margin: 0;
  margin-top: 2rem;
  width: 100%;
  height: 134px;
  font-family: 'mononoki NF';
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 108px;
  
  background: radial-gradient(90.6% 5904.07% at 95.21% 50%, #FF37C7 0%, #FFBF1C 100%), #00000000;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.boton-add{
  background: #a10aff;
  border-radius: 50px;
  width: 18rem;
  height: 3.5rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;

}

.boton-add:hover{
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);

}

.boton-add:hover .icono-add{
  color:red;
}

.icono-add{
  color:white;
  float:left;
  margin-left: 0.7rem;

}

.texto-add{
  color: white;
  font-family: 'mononoki NF';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
  margin-right: 1rem;
  margin-left:0.6rem;
}

.barra-busqueda{
  
  border:0.2rem solid #D9D4FF !important;
  border-radius: 50px !important;
  width: 35rem !important;
  height: 3.5rem !important;
  
  backdrop-filter: blur(21px);
  padding-left: 4.5rem;
  /* border-color: rgb(0, 206, 206); */

  font-family: 'mononoki NF';
  font-style: normal;
  font-weight: 400;
  font-size: 24px !important;
  line-height: 108px;
  
}
.barra-busqueda::placeholder{
  color: #D9D4FF;
  font-family: 'mononoki NF';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 108px;
}

.barra-busqueda:focus-visible{
  outline: none !important;
  box-shadow: none !important;
}

.icono-lupa{
  margin-top: 0.7rem;
  margin-left: 1.3rem;
}
.tools{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  
  
}
